main ul {
	width: 80%;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	overflow-x: auto;

	list-style-type: none;
	transition: -webkit-transform 0.25s ease;
	transition: transform 0.25s ease;

	margin: auto;
}
main > ul:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
main ul li {
	flex: 0 0 auto;
	width: auto;
	//height: 200px;
	padding: 2.5px;
	max-width: auto;

}
main ul li img {
	flex: 0 0 auto;
	width: auto;
	height: 200px;
	padding: 2.5px;
	max-width: auto;
}

img[alt~="feature.webp"] {
	max-width: 80%;
}
