{{- define "main" -}}
{{- $image := resources.Get "pix/avatar/pfp.png" -}}
{{- $image := $image.Resize (printf "%dx%d webp" $image.Width $image.Height) -}}

{{- $pfpCSS := resources.Get "css/image.pfp.css" | resources.Fingerprint "md5" -}}

<main>
	<link rel="stylesheet" type="text/css" href="{{ $pfpCSS.Permalink }}"
										   integrity="{{ $pfpCSS.Data.Integrity }}">
	<center>
		<h4>{{ .Site.Title }}</h4>
		<img class=pfp src="{{ $image.Permalink }}" width=35% height=auto
		alt="ayham">
		<h3>{{ .Params.subtitle }}</h3>
		{{- partial "header.html" . -}}
		<p>Navigate this website by clicking on the above navigation bar.</p>
		{{ .Content }}
	</center>
</main>
{{ end }}
